
.baseContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


#container{
    display: flex;
    width: 620px;
    height: 763px;
    left: 192px;
    top: 293px;

    background: #FFFFFF;
    border-radius: 20px;
}