.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 763px;
  left: 192px;
  top: 293px;

  background: #ffffff;
  border-radius: 20px;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2vh;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  color: #111111;

  flex: none;
  order: 0;
  flex-grow: 0;
}
